*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    font-weight: 700;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


.card {
    z-index: 5;
    overflow: hidden;
    background-color: white;
    height: 370px;
    width: 350px;
    border-radius: 15px;
}

.header {
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: inherit;
    border-radius: 15px 15px 0 0;
    background-image: url("images/bg-pattern-card.svg");
}


.inside-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    text-align: center;
}

.bio span, .bio p {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin: 10px;
}

.bio p {
    font-size: 14px;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid #ffffff;
    width: 96px;
    position: relative;
    top: 50px;

}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid hsl(0, 0%, 91%);
    padding: 24px;
    margin-top: 10px;
}

.num {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.desc {
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 6px;
}

.attribution {
    z-index: 1;
    margin: 10px;
    font-size: 11px;
}

.container::before,
.container::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: auto;
    transform: translate(-50%, -50%);
}

.container::before {
    top: 15%;
    left: 0;
    background: url("images/bg-pattern-top.svg") no-repeat bottom right;
}

.container::after {
    top: 100%;
    left: 95%;
    background: url("images/bg-pattern-bottom.svg") no-repeat top left;
}

@media only screen and (max-width: 400px) {
    .card {
        width: 300px;
    }
}